html,
body {
    min-height: 100%;
    border: 0;
    font-family: "Segoe WPC", "Segoe UI", sans-serif, Arial;
}

header {
    display: flex;
    background-color: deepskyblue;
    color: white;
    margin: 0;
}

header menu {}

header h1 {}

header button {
    position: absolute;
    right: 1rem;
    top: 1rem;
    border: 0;
    background: skyblue;
    border-radius: 5px;
    color: white;
    z-index: 1;
}

#home {
    padding: 20px;
}

#services {}

#services #footnav {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly
}

#about {
    padding: 20px;
}

#main-navigation {
    box-shadow: 2px 0 2px 666;
}

#main-navigation ul {
    list-style-type: none;
    display: flex;
    margin: 0;
}

#main-navigation ul .nav-link {
    padding: 10px;
    flex-grow: 1;
    text-align: center;
    cursor: pointer;
}

.links-container {
    position: relative;
    padding: 0;
    background: deepskyblue;
    color: white
}

#magic-line {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100px;
    height: 4px;
    background-color: lightgreen;
}

#pages-container {
    /* height: 500px; */
    background: #f1f1f1;
    border: 1px solid #dedede;
}

#pages-container .swiper-slide {
    height: 100%;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
}

#pages-container-inner {
    overflow-x: scroll;
    height: 100%;
}