<!doctype html>
<html lang="en">

<head>
    <title>login form</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/RayyanNafees/FA5PRO/css/all.min.css">

    <script type="text/javascript" src="../assets/email.min.js"></script>
    <script>
        (function() {
            // https://dashboard.emailjs.com/admin/integration
            emailjs.init("user_kaMQbGKNuOZV75pRUV7jD");
        })();
        Q = q => document.querySelector(q);
        _Q = q => [...document.querySelectorAll(q)];
        V = (q, n) => n ? _Q(q)[n].value : Q(q).value;
        I = n => _Q('input')[n].value;
        S = n => _Q('select')[n].selectedOptions[0].innerText
    </script>

    <style>
        /* @media screen and (maxwidth:400px) {*/
        
        body {
            margin-left: 10px;
            margin-right: 10px;
        }
        
        .input-group,
        .form-row {
            margin: 10px;
        }
        
        textarea {
            resize: none
        }
        /* }*/
    </style>
</head>

<body>
    <form>
        <div class="form-row">
            <div class="col">
                <!-- fname -->
                <input type="text" class="form-control" placeholder="First name" required />
            </div>
            <div class="col">
                <!-- lname -->
                <input type="text" class="form-control" placeholder="Last name" required />
            </div>
        </div>

        <div class="col-auto my-1">
            <!-- <label class="mr-sm-2" for="inlineFormCustomSelect">Preference</label> -->
            <select class="custom-select mr-sm-2">
                <!-- select -->
              <option selected>--Gender--</option>
              <option value="1">Male</option>
              <option value="2">Female</option>
              <option value="3">Other</option>
            </select>
        </div>

        <div class="input-group mb-2 mr-sm-2">
            <div class="input-group-prepend">
                <div class="input-group-text">DOB</div>
            </div>
            <input type="date" class="form-control" placeholder="Date of Birth" required />
        </div>

        <div class="col-auto my-1">
            <!-- <label class="mr-sm-2" for="inlineFormCustomSelect">Preference</label> -->
            <select class="custom-select mr-sm-2">
                <!-- select -->
              <option selected>--Programmes--</option>
              <option value="1">Digital Marketing</option>
              <option value="2">Web Designing</option>
              <option value="3">Afiliate Marketing</option>
              <option value="3">Advertising</option>
            </select>
        </div>


        <div class="input-group mb-2 mr-sm-2">

            <textarea rows="3" class="form-control" placeholder="Address" required></textarea>
        </div>

        <div class="input-group mb-2 mr-sm-2">
            <div class="input-group-prepend">
                <div class="input-group-text"><i class="fal fa-phone"></i></div>
            </div>
            <input type="tel" class="form-control" placeholder="Number" required />
        </div>

        <div class="input-group mb-2 mr-sm-2">
            <div class="input-group-prepend">
                <div class="input-group-text">@</div>
            </div>
            <input type="text" class="form-control" placeholder="Email" required />
        </div>

        <div class="col-auto my-1">
            <!-- <label class="mr-sm-2" for="inlineFormCustomSelect">Preference</label> -->
            <select class="custom-select mr-sm-2">
                <!-- select -->
              <option selected>--Qualifications--</option>
              <option value="1">High School</option>
              <option value="2">Secondary High School</option>
              <option value="3">Graduate</option>
              <option value="4">Post Graduate</option>
              <option value="5" onclick="">Other</option>
            </select>
        </div>

        <div class="input-group mb-2 mr-sm-2">
            <div class="input-group-prepend">
                <div class="input-group-text"><i class="far fa-briefcase"></i></div>
            </div>
            <input type="text" class="form-control" placeholder="Job Title" required />
        </div>
        <br>
        <div class="col-auto my-1">
            <div class="custom-control custom-checkbox my-1 mr-sm-2">
                <input type="checkbox" class="custom-control-input" id="customControlInline" checked required />
                <label class="custom-control-label" for="customControlInline">Remember my preference</label>
            </div>

        </div>
        <br>
        <div class="col-auto my-1">
            <button type="submit" class="btn btn-primary">Proceed</button>
        </div>
    </form>




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
<script>
    let form = Q('form')
    let gender = _Q('select')[0].selected;
    let progs = _Q('select')[1].selected;
    let quals = _Q('select')[2].selected;

    form.onsubmit = function() {
        if (!(gender && progs && quals)) {
            if (!gender)
                _Q('select')[0].style.borderColor = 'red';
            if (!progs)
                _Q('select')[1].style.borderColor = 'red';
            if (!quals)
                _Q('select')[2].style.borderColor = 'red';

            e.preventDefault();
        }


        emailjs.send("Jain Info App", "SignUp", {
                gender: S(0),
                service: S(1),
                qual: S(2),
                address: Q('textarea').value,
                fname: I(0),
                lname: I(1),
                dob: I(2),
                number: I(3),
                email: I(4),
                job: I(5)
            })
            .then(resp => 0)
            .catch(err => 1);
    }
    Q('input[type="tel"]').onkeydown = e => [...
        '+0123456789', 'Backspace'
    ].includes(e.key) ? true : e.preventDefault();

    Q('input[type="checkbox"]').onchange = function() {
        Q('button').disabled = !this.checked;
    }
    $('select option').click(function() {
        $(this).parent('select')[0].selected = true;
    })
</script>

</html>

</html>